/* You can add global styles to this file, and also import other style files */
.center {
    text-align: center;
}

.right {
    float: right;
}

.table-header-primary-color {
    color: white !important;
    background-color: #6483AA !important;
}

.material-box-shadow-1 {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.container-wrapper {
  margin: 24px;
}

.ant-layout-sider-trigger {
  background: #434d60;
}
