<nz-layout class="app-layout left-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              >
      <div class="sidebar-logo">
        <div *ngIf="!isCollapsed else smallLogoTemp">
          <a href="https://www.pacteraedge.com/" target="_blank">
            <img src="../assets/images/logo_pactera_white.png" class="long-logo" alt="logo">
          </a>
        </div>
        <ng-template #smallLogoTemp>
          <a href="https://www.pacteraedge.com/" target="_blank">
            <img src="../assets/images/logo_pactera_small.png" class="small-logo" alt="logo">
          </a>
        </ng-template>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzTitle="Feature 1" nzIcon="appstore" [nzOpen]="true">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="feature_1">Feature 1 subfeature</a>
            </li>
          </ul>
        </li>
         <li nz-submenu nzTitle="Feature 2" nzIcon="appstore">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>Feature 2 subfeature</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Feature 3" nzIcon="appstore">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>Feature 3 subfeature</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Setting" nzIcon="setting">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>Setting 1</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>setting 2</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="right-layout">
      <nz-header id="layout-header" [ngStyle]="isCollapsed ? {width: 'calc(100% - 80px)'} : {width: 'calc(100% - 256px)'}">
        <div class="app-header">
         <nz-row nzType="flex" nzAlign="middle" nzJustify="space-between">
            <nz-col>
              <span>Dashboard</span>
            </nz-col>
            <nz-col>
              <nz-avatar nzIcon="user" class="header-user__icon"></nz-avatar>
              <span class="header-user__name">{{displayedName}}</span>
            </nz-col>
          </nz-row>
        </div>
      </nz-header>
      <nz-content class="right-layout__content">
        <!-- <div class="inner-content"> -->
          <router-outlet></router-outlet>
        <!-- </div> -->
        <nz-footer>
          <div>
            <strong>FinWhiz</strong> Implemented by EASCE team
          </div>
          <div>
            © 2020 Pactera Edge. All rights reserved.
          </div>
        </nz-footer>
      </nz-content>
    </nz-layout>
  </nz-layout>
