:host {
  // display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.left-layout {
  height: 100vh;
}

.right-layout {
  &__content {
    min-height: initial;
  }
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);

  .sidebar-logo {
    position: relative;
    height: 64px;
    padding-left: 24px;
    overflow: hidden;
    line-height: 64px;
    background: #495469;
    transition: all .3s;
  }

  .sidebar-logo .long-logo {
    display: inline-block;
    height: 32px;
    width: 200px;
    vertical-align: middle;
  }

  .siderbar-logo .small-logo {
    display: inline-block;
    height: 32px;
    width: 20px;
    vertical-align: middle;
  }

  ul {
    padding-top: 16px;
  }
}

nz-header#layout-header {
  position: fixed;
  padding: 0;
  right: 0px;
  z-index: 2;

  .app-header {
    position: relative;
    height: 64px;
    padding: 0px 24px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);

    .header-user {
      &__name {
        font-size: 14px;
        color: rgba(0,0,0,.65);
        vertical-align: middle;
      }

      &__icon {
        color:#f56a00;
        background-color:#fde3cf;
        margin-right: 10px;
      }
    }
  }
}

// margin-top 64 for fixed header
nz-content {
  padding: 24px 24px;
  margin-top: 64px;
  overflow: initial;
}

nz-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0px;
}
